.bulsu-card{
    margin: 50px;
}

.home-logos{
    width: 80px;
}

.heading-bulsu{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.title-home{
    text-align: center;
}

.btn_pen{
    cursor: pointer;
    fill: rgb(15, 194, 15);
    
}

.btn_pen:hover{
    fill: green;
}