<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../bootstrap-4.5.3-dist/css/bootstrap.min.css" >
  </head>
  <body>
    <div class="drawer-nav bg-success">
      <ul class="nav-links">
        <li>HOME</li>
        <li>TRANSACTION</li>
        <li>APPARATUS</li>
        <li>CHEMICALS</li>
        <li>REPORTS</li>
      </ul>
    </div>

    <section id="home">
      <h1>HOME</h1>
    </section>


    <section id="transaction">
      <h1>transaction</h1>
    </section>


    <section id="apparatus">
      <h1>apparatus</h1>
    </section>


    <section id="chemical">
      <h1>chemical</h1>
    </section>


    <section id="report">
      <h1>report</h1>
    </section>




  </body>

  <script src="../Controller/index.js"></script>
  <script src="../bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
</html>
