<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CS Labaratory</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/apparatus.css">
    <link rel="stylesheet" href="../bootstrap-4.5.3-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../styles/chemical.css">
    <link rel="stylesheet" href="../styles/transaction.css">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/TransHistory.css">
  </head>
  <body>

    <div class="drawer-nav bg-success">
      <ul class="nav-links">
        <li> <img class="icons" src="../assets/icons/home.svg" alt=""> HOME</li>
        <li> <img class="icons" src="../assets/icons/transaction.svg" alt=""> TRANSACTION</li>
        <li> <img class="icons" src="../assets/icons/apparatus.svg" alt=""> APPARATUS</li>
        <li> <img class="icons" src="../assets/icons/chemicals.svg" alt=""> CHEMICALS</li>
        <li> <img class="icons" src="../assets/icons/addingStock.svg" alt=""> ADDING STOCK HISTORY</li>
        <li> <img class="icons" src="../assets/icons/tansHistory.svg" alt=""> TRANSACTION HISTORY</li>
        <li> <img class="icons" src="../assets/icons/reports.svg" alt=""> REPORTS</li>
      </ul>
    </div>

<!-- ############## Home Start#################### -->

    <section id="home">
      <div class="heading-apparatus shadow">
        <h3>Notifications</h3>

      </div>
      <div class="card ml-5" style="width: 600px; min-height: 550px;">
        <div class="card-body">
          <div class="noti-container">

          </div>
        </div>
      </div>
    </section>

<!-- ############## Home End#################### -->


<!-- ############## Transaction Start#################### -->

    <section id="transaction">
      <nav class="trans-nav">
        <p class="ml-5">TRANSACTION</p>

        <button class="btn btn-success mr-5" onclick="openBarrowModal()">Borrow</button>
      </nav>

      <table class="table ml-4 mt-4" style="width: 800px;">
        <thead class="bg-success rounded text-white">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Student No.</th>
            <th scope="col">Student Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Section</th>
            <th scope="col">Intsructor</th>
            <th scope="col">Date Borrowed</th>
            <th scope="col">Return Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="tbody-transactions">
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <td>Loading Records..</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>


      <div class="add-trans-modal-bg">
        <div class="add-trans-modal">
          <img onclick="closeBorrowModal()" 
          class="backarrow" 
          src="../assets/icons/back.svg" 
          alt="">
          <h3 class="ml-4 mt-3 mb-4">Borrow Form</h3>

          <div class="form-group row px-4">
            <label  class="col-sm-4 col-form-label">Student No.</label>
            <div class="col-sm-7">
              <input type="text" 
              id="formstudentNo"
              class="form-control" placeholder="2020-101211">
            </div>
          </div>
          <div class="form-group row px-4">
            <label  class="col-sm-4 col-form-label">Student Name</label>
            <div class="col-sm-7">
              <input type="text" 
              id="formstudentName"
              class="form-control" placeholder="Juan Dela Cruz">
            </div>
          </div>
          <div class="form-group row px-4">
            <label  class="col-sm-4 col-form-label">Subject</label>
            <div class="col-sm-7">
              <input type="text" 
              id="formSubject"
              class="form-control" placeholder="Chemistry">
            </div>
          </div>
          <div class="form-group row px-4">
            <label  class="col-sm-4 col-form-label">Section</label>
            <div class="col-sm-7">
              <input type="text" 
              id="formSection"
              class="form-control" 
              placeholder="BSIT-4CG1">
            </div>
          </div>
          <div class="form-group row px-4">
            <label  class="col-sm-4 col-form-label">Instructor</label>
            <div class="col-sm-7">
              <input type="text" 
              id="formProfName"
              class="form-control" placeholder="Cecilia gascon">
            </div>
          </div>
          <div class="form-group row px-4">
            <label  class="col-sm-4 col-form-label">Return Date</label>
            <div class="col-sm-7">
              <input type="date" 
              id="formReturnDate"
              class="form-control">
            </div>
          </div>

          <!-- liiist -->
          <h5 class="ml-4 mt-4 mb-3">Apparatus</h5>
          <div class="apparatus-textfield-container">
            <!-- the list is on js -->
          </div>
          <h5 class="ml-4 mt-4 mb-3">Chemicals</h5>
          <div class="chemicals-textfield-container">
            <!-- the list is on js -->
          </div>

          <button 
          class="btn btn-danger ml-4 mt-3 mb-5"
          onclick="closeBorrowModal()"
          >Cancel</button> 

          <button
          onclick="saveTransaction()"
          class="btn btn-success ml-2 mt-3 mb-5"
          >Save</button>
        </div>
      </div>

      <!-- return dialog -->
     <div class="return-barrowed-dialog">
      <div class="card return-barrowed-card">
        <h4>TRANSACTION NO: # <span class="trans-num"></span></h4>
        <h4>Apparatus List</h4>

        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Item Name</th>
              <th scope="col">Qty</th>
              <th scope="col">Damage</th>
            </tr>
          </thead>
          <tbody class="table-return-item">
            <tr>
              <td></td>
              <td>No Apparatus borrowed</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="buttons">
          <buttn 
          onclick="returnTransaction()"
          class="btn btn-primary" style="width: 100px;">Return</buttn>
          <buttn 
          onclick="hideReturnDialog()"
          class="btn btn-danger" style="width: 100px;">Cancel</buttn>
        </div>

      </div>
     </div>

    </section>
<!-- ############## Transaction End#################### -->




<!-- ##############APPARATUS Start#################### -->
    <section id="apparatus">
      <div class="heading-apparatus shadow">

        <h3>Apparatus</h3>
        
        <div class="search-apparatus">
          <input type="text" 
          class="appa-input-search form-control shadow-sm"
          style="width: 300px;"
          placeholder="Search Item"
          >
          <button 
          onclick="openAddApparatusModal()"
          class="btn btn-success">
          Add Item</button>
        </div>


      </div>

      

      <table class="table ml-4 mt-2" style="width: 800px;">
        <thead class="bg-success rounded text-white">
          <tr>
            <th scope="col">Item Code</th>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Borrowed</th>
            <th scope="col">Damage</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="tbody-apparatus-item">
          <tr>
            <th ></th>
            <td>Loading Records..</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      

      <div class="modal-add-apparatus-bg">
        <div class="add-apparatus-modal">
          <h3 class="pt-4 pl-4 pb-4">Add Apparatus</h3>

          <div class="form-group row px-4">
            <label  class="col-sm-4 col-form-label">Item Code</label>
            <div class="col-sm-7">
              <input type="text" 
              id="formApparatusItemCode"
              class="form-control" placeholder="Telescope">
            </div>
          </div>

          <div class="form-group row px-4">
            <label  class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" 
              id="formApparatusItemName"
              class="form-control" placeholder="Telescope">
            </div>
          </div>
          <div class="form-group row px-4">
            <label  class="col-sm-2 col-form-label">Qty</label>
            <div class="col-sm-5">
              <input 
              id="formApparatusQty"
              type="number" class="form-control" value="0">
            </div>
            <div class="col-sm-4">
              <input 
              id="formApparatusMeasurement"
              type="text" class="form-control" placeholder="pcs">
            </div>
          </div>

          <p class="error-msg-appa-name">! Please complete the form</p>

          <button 
          class="btn btn-success mt-3 ml-4"
          onclick="addApparatus()"
          >Save Item
          </button>
          <button 
          class="btn btn-danger mt-3 ml-1"
          onclick="closeAddModalAparatus()"
          >Cancel
        </button>

        </div>
      </div>


      <div class="modal-edit-apparatus-bg">
        <div class="edit-apparatus-modal">
          <h3 class="pt-4 pl-4 pb-4 edit-apparatus-itemName">Edit Apparatus</h3>

          <div class="form-group row px-4">
            <label  class="col-sm-2 col-form-label">Qty</label>
            <div class="col-sm-9">
              <input type="number" 
              id="formEditApparatusNewQty"
              class="form-control" placeholder="Telescope">
            </div>
          </div>
          <!-- <p class="error-edit-msg-appa-name">! Please complete the form</p> -->
          <button 
          class="btn btn-success mt-3 ml-4"
          onclick="saveEditApparatus()"
          >Save Item
          </button>
          <button 
          class="btn btn-danger mt-3 ml-1"
          onclick="showDeleteAppatusConfirmation()"
          >Delete
          </button>
          <button 
          class="btn btn-light mt-3 ml-1"
          onclick="closeEditApparatusModal()"
          >Cancel
          </button>

        </div>
      </div>

      <div class="delete-apparatus-confirmation shadow-lg ">
        <p>Are you sure you want to delete this item?</p>
        <button onclick="deleteApparatus()" class="btn btn-danger">Yes</button>
        <button onclick="hideDeleteAppatusConfirmation()"
        class="btn btn-light">Cancel</button>
      </div>
      
    </section>
<!-- ##############APPARATUS end#################### -->



<!-- ##############Chemical Start#################### -->
    <section id="chemical">
      <div class="heading-apparatus shadow">
        <h3>Chemicals</h3>
        <div class="search-apparatus">
          <input type="text" 
          class="chem-input-search form-control shadow-sm"
          style="width: 300px;"
          placeholder="Search Item"
          >
          <button 
          onclick="openAddChemicalModal()"
          class="btn btn-success">Add Item</button>
        </div>

      </div>


      <table class="table ml-4 mt-2" style="width: 800px;">
        <thead class="bg-success rounded text-white">
          <tr>
            <th scope="col">Item Code</th>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Borrowed</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="tbody-chemicals-item">
          <tr>
            <th ></th>
            <td>Loading Records..</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>


      
      <div class="modal-add-chemical-bg">
        <div class="add-chemical-modal">
          <h3 class="pt-4 pl-4 pb-4">Add Chemical</h3>


          <div class="form-group row px-4">
            <label  class="col-sm-4 col-form-label">Item Code</label>
            <div class="col-sm-7">
              <input type="text" 
              id="formChemicalItemCode"
              class="form-control" placeholder="CH-****">
            </div>
          </div>
          <div class="form-group row px-4">
            <label  class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" 
              id="formChemicalItemName"
              class="form-control" placeholder="Telescope">
            </div>
          </div>
          <div class="form-group row px-4">
            <label  class="col-sm-2 col-form-label">Qty</label>
            <div class="col-sm-5">
              <input 
              id="formChemicalQty"
              type="number" class="form-control" value="0">
            </div>
            <div class="col-sm-4">
              <input 
              id="formChemicalMeasurement"
              type="text" class="form-control" placeholder="pcs">
            </div>
          </div>

          <button 
          class="btn btn-success mt-3 ml-4"
          onclick="addChemical()"
          >Save Item
          </button>
          <button 
          class="btn btn-danger mt-3 ml-1"
          onclick="closeAddModalChemical()"
          >Cancel
        </button>

        </div>
      </div>

      <div class="modal-edit-chemicals-bg">
        <div class="edit-apparatus-modal">
          <h3 class="pt-4 pl-4 pb-4 edit-chemical-itemName">Edit Apparatus</h3>

          <div class="form-group row px-4">
            <label  class="col-sm-2 col-form-label">Qty</label>
            <div class="col-sm-9">
              <input type="number" 
              id="formEditChemicalNewQty"
              class="form-control" placeholder="Telescope">
            </div>
          </div>
          <!-- <p class="error-edit-msg-appa-name">! Please complete the form</p> -->
          <button 
          class="btn btn-success mt-3 ml-4"
          onclick="saveEditChemical()"
          >Save Item
          </button>
          <button 
          class="btn btn-danger mt-3 ml-1"
          onclick="showDeleteChemicalConfirmation()"
          >Delete
          </button>
          <button 
          class="btn btn-light mt-3 ml-1"
          onclick="closeEditChemicalModal()"
          >Cancel
          </button>

        </div>
      </div>


      <div class="delete-chemical-confirmation shadow-lg ">
        <p>Are you sure you want to delete this item?</p>
        <button onclick="deleteChemical()" class="btn btn-danger">Yes</button>
        <button onclick="hideDeleteChemicalConfirmation()"
        class="btn btn-light">Cancel</button>
      </div>   

    </section>
<!-- ##############Chemical End#################### -->


<!-- ##############Activity log Start#################### -->

    <section id="ActivityLog">
      <div class="heading-apparatus shadow">
        <h3>Adding Stock History</h3>
  
      </div>
      <table class="table ml-4 mt-2" style="width: 800px;">
        <thead class="bg-success rounded text-white">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Item Code</th>
            <th scope="col">Item Name</th>
            <th scope="col">Stock Added</th>
          </tr>
        </thead>
        <tbody class="tbody-addingStock-item">
          <tr>
            <td align="center" colspan="4">Loading Records...</td>
          </tr>
        </tbody>
      </table>
    </section>
<!-- ##############Activity log End#################### -->





<!-- ##############Trans History Start#################### -->

<section id="TransHistory">

  <div class="heading-apparatus shadow">
    <h3>Transaction History</h3>

  </div>
  <table class="table ml-4 mt-2" style="width: 800px;">
    <thead class="bg-success rounded text-white">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Student No.</th>
        <th scope="col">Student Name</th>
        <th scope="col">Subject</th>
        <th scope="col">Section</th>
        <th scope="col">Instructor</th>
        <th scope="col">Date Borrowed</th>
        <th scope="col">Returned Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="tbody-transHistory-item">
      <tr>
        <td align="center" colspan="9">Loading Records...</td>
      </tr>
    </tbody>
  </table>


  <div class="modal-itemShow-bg">
    
    <div class="itemShow-modal">
      <!-- <h4></h4> -->
    </div>
  </div>


</section>
<!-- ##############Trans History End#################### -->




<!-- ##############Report Start#################### -->

    <section id="report">
      <h1>reports</h1>
    </section>
<!-- ##############Report End#################### -->




  </body>
  
  <script src="../Controller/Index.js"></script>
  <script src="../Controller/apparatus.js"></script>
  <script src="../Controller/chemicals.js"></script>
  <script src="../Controller/transaction.js"></script>
  <script src="../Controller/Report.js"></script>
  <script src="../Controller/notifications.js"></script>
  <script src="../Controller/stockHistory.js"></script>
  <script src="../Controller/transHistory.js"></script>

  <script src="../bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
</html>
